.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  color: $color-text-primary;

  .sheet-title {
    position: relative;
    max-width: 600px;
    height: auto;
    margin-right: 5rem;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;

    &-label {
      position: absolute;
      visibility: hidden;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      padding: 2px 8px;
      font-family: inherit;
      font-weight: inherit;
      z-index: 0;
      
      &-inner {
        font-weight: inherit;
        white-space: pre;
      }
    }

    &-input {
      position: relative;
      display: inline-block;
      padding: 2px 6px;
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      border: 1px solid transparent;
      border-radius: $border-radius;
      transition: border-color .3s ease,
                  outline-color .2s ease;
      outline-color: transparent;
      z-index: 1;
  
      &:hover {
        border-color: $color-tertiary;
      }
  
      &:focus {
        outline-style: auto;
        outline-color: $color-tertiary;
      }
    }
  }

  .action-buttons {
    margin-left: auto;
    width: fit-content;

    [data-action] {
      display: inline-block;
      justify-content: center;
      width: 6.25rem;
      padding: 0.4rem;
      color: $color-white;
      border-radius: $border-radius;
      background-color: $color-tertiary;

      &:not(:last-child) {
        margin-right: 0.3rem;
      }

      &:last-child {        
        background-color: $color-text-primary;

        &:hover {
          background-color: lighten($color-text-primary, 10%);
        }
      }

      &:not(:last-child):hover {
        background-color: darken($color-tertiary, 10%);
      }
    }
  }
}