.calendar {
  position: absolute;
  left: 50%;
  top: 1.62rem;
  transform: translateX(-50%);
  width: fit-content;
  font-size: 0.72rem;
  background-color: $color-white;
  border-radius: $border-radius;
  box-shadow: 0 4px 20px rgba($color-secondary, 0.2);
  overflow: hidden;
  user-select: none;
  z-index: 1000;

  .cal-header {
    width: 100%;
    padding: 0.7rem 0.5rem 0;
    font-weight: 500;
    color: $color-text-primary;
    overflow: hidden;
    
    .year-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      margin: auto;
      padding-bottom: 0.5rem;
      color: rgba($color-text-primary, 0.7);

      .year {
        width: calc(4.38rem + 0.4rem);
        font-size: .72rem;
        text-align: center;
      }

      .nav-btn {
        position: relative;
        padding: 0.2rem;
        color: inherit;
        font-size: 0.8rem;
        border-radius: 100%;        
        overflow: hidden;

        &::before {
          content: '';
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.1);
          transition: opacity .2s;
        }

        &:hover::before {
          opacity: 1;
        }
      }
    }

    .days-name-wrapper {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 0.2rem;
      width: 100%;
      
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        color: rgba($color-text-primary, .8);
        font-size: .72rem;
      }
    }
  }

  .days-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2rem;
    width: 100%;
    padding: 0.5rem;
    animation: show .3s ease;

    .day {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      color: rgba($color-text-primary, 0.7);
      font-size: .7rem;
      border-radius: 100px;
      transition: background-color .3s ease;
      cursor: pointer;

      &:hover:not(.active) {
        background-color: rgba($color-secondary, 0.1);
      }

      &.inactive {
        color: rgba($color-text-primary, 0.4);
      }

      &.active {
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 0 7px 12px rgba($color-secondary, 0.3);
        cursor: default;
      }
    }
  }
}