.app-container { 
  display: none;
  width: fit-content;
  margin: 4rem auto;
  padding: 2.5rem;
  user-select: none;

  &.active {
    display: block;
  }

  .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .sheet-title {
      width: 5.95rem;
      margin-right: 5rem;
      color: $color-text-primary;
      font-size: 1.1rem;
      font-weight: 400;
      padding: 0.15rem;
      border: 1px solid transparent;
      border-radius: $border-radius;
      transition: border-color .3s ease,
        outline-color .2s ease;
      outline-color: transparent;

      &:hover {
        border-color: rgba($color-secondary, 0.2);
      }

      &:focus {
        outline-style: auto;
        outline-color: $color-tertiary;
      }
    }

    .action-buttons {
      margin-left: auto;
      width: fit-content;
  
      [data-action] {
        display: inline-block;
        justify-content: center;
        width: 6.25rem;
        padding: 0.4rem;
        color: $color-white;
        border-radius: $border-radius;
        background-color: $color-tertiary;
  
        &:not(:last-child) {
          margin-right: 0.3rem;
        }
  
        &:last-child {        
          background-color: $color-text-primary;
  
          &:hover {
            background-color: lighten($color-text-primary, 10%);
          }
        }
  
        &:not(:last-child):hover {
          background-color: darken($color-tertiary, 10%);
        }
      }
    }
  }

  .bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-top: 2rem;

    #record-count {
      color: $color-text-primary;
      font-size: 0.9rem;

      strong {
        color: darken($color-tertiary, 10%);
        font-weight: 500;
      }
    }

    .pagination-wrapper {
      flex-shrink: 0;
      display: flex;
      width: fit-content;
      border-radius: $border-radius;
      overflow: hidden;
  
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        padding: 0.4rem;
        color: $color-text-primary;
        font-size: inherit;
        background-color: #e3e8f1;     
        transition: background-color .3s ease,
          opacity .3s ease, color .3s ease;        
  
        &.active {
          color: $color-white;
          background-color: #9497a0;
        }
  
        &:disabled {
          opacity: 0.5;
          cursor: default;
        }
  
        &:not(:disabled):not(.active):hover {
          background-color: #bdc2cc;
        }
  
        &:not(.active):active {
          background-color: #a6aab3;
        }
      }
  
      .page-btn-wrapper {
        display: flex;
      }
    }
  }
}