// Colors
$color-primary: #f0284a;
$color-secondary: #253e91;
$color-tertiary: #4585fc;
$color-text-primary: #2f3755;
$color-white: #fff;

// Border
$border-color: #bcc2e6;
$border-radius: 3px;

// Dimensions
$cell-width: 8.75rem;
$header-height: 2rem;
$cell-height: 1.55rem;